# LLM Configuration
LLM_MODEL=gpt-oss:20b
LLM_BASE_URL=http://172.20.201.87:9007/
LLM_API_KEY=ollama
LLM_TEMPERATURE=0.0

# Langfuse Tracing
LANGFUSE_HOST=http://172.20.200.201:7000
LANGFUSE_PUBLIC_KEY=pk-lf-d4662c49-0e1e-4d1f-9237-187cd05e2944
LANGFUSE_SECRET_KEY=sk-lf-c4ecbe19-9df7-465f-9f10-0f0ec863b934

# Evaluation Settings
CHUNK_SIZE_LIMIT=6000
CHUNK_OVERLAP=500
